<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Поставщик -->
		<add key="provider" value="System.Data.OleDb" />
		<!-- Строка подключения -->
		<add key="connectionStr" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=d:\БД_ТурФирмы.mdb"/>
	</appSettings>
</configuration>